@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  background: #8F4DF7;
  font-family: 'Open Sans', sans-serif;
}
#app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .todo__container {
    span.separator {
      display: block;
      width: 100px;
      height: 1px;
      margin: 30px auto;
      background: #ccc;
    }
    width: 100%;
    max-width: 450px;
    .add-new__todo {
      width: 100%;
      display: flex;
      height: 50px;
      border: 5px solid #b376f8;
      border-radius: 4px;
      input {
        width: 100%;
        height: 100%;
        padding: 0 10px;
      }
      button {
        width: 100px;
        background: #4EB7F8;
        color: #fff;
        cursor: pointer;
        font-weight: 500;
      }
    }
    .todo__list {
      border: 5px solid #b376f8;
      border-radius: 4px;
      background: #fff;
      padding: 0 15px;
      .todo {
        width: 100%;
        height: 50px;
        display: flex;
        background: #fff;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        overflow: auto;
        .todo__desc {
          display: flex;
          align-items: center;
          gap: 10px;
          .desc {
            h1 {
              font-size: 14px;
              color: rgba(#000, .5);
            }
          }
        }
        .todo__remove {
          cursor: pointer;
        }
      }
    }
  }
}